---
layout: page
title: Projets
header: true
---

<section class="list">
	<h2>Projets personnels</h2>
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
	{% for post in site.projects reversed %}
		<div class="row">
            {% unless post.hidden %}
				{% include blog-post.html %}
			{% endunless %}
		{% endfor %}
		</div>
	{% endif %}
</section>

<section class="list">
	<h2>Projets professionnels</h2>
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		<div class="row">
		{% for post in site.pro_projects reversed %}
            {% unless post.hidden %}
				{% include blog-post.html %}
			{% endunless %}
		{% endfor %}
		<div class="row">
	{% endif %}
</section>

<section class="list">
	<h2>Projets réalisés durant ma formation</h2>
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		<div class="row">
		{% for post in site.school_projects reversed %}
            {% unless post.hidden %}
				{% include blog-post.html %}
			{% endunless %}
		{% endfor %}
		</div>
	{% endif %}
</section>
