<footer class="footer-main">
    {# {{ site.name }} © {{ site.time | date: '%Y' }}  #}
    <a class="link" href="{{ site.url }}/feed.xml">
        {# {% fa_svg fas.fa-rss %} #}
    </a>

    <p class="extra">
        <a class="link" href="https://github.com/sylvainmetayer/sylvainmetayer">Sources</a> <br/>
    </p>

    <p class="extra">
        Thème - version modifiée de <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
         {# - Dernière mise à jour le {% include translated_date.html date=site.time format="%d %B %Y" %}  #}
    </p>
</footer>
