<footer class="footer-main">
  {{ site.title }} © {{ site.buildTime | date('Y') }}
  <a class="link" href="{{ site.url }}/feed.xml">
    {# {% fa_svg fas.fa-rss %} #}
  </a>

  <p class="extra">
    <a class="link" href="https://github.com/sylvainmetayer/sylvainmetayer">Sources</a>
    <br/>
  </p>

  <p class="extra">
    Dernière mise à jour le
    {{ site.buildTime | date("LLLL") }}
  </p>
</footer>