{% if site.environment != 'production' %}
  <p>
    <a href="{{ site.productionUrl }}" target="_blank">
      Ceci est la version de développement du site. Cliquez ici pour voir la version de production.
    </a>
  </p>
{% endif %}

{% if showHeader %}
  <header class="header-home {% if site.animation %}animated{% endif %}">
    <span class="link">
      {% image "profile.png", "avatar de profil", ["selfie"] %}
    </span>

    <h1 class="title">{{ site.title }}</h1>
    <h2 class="description">{{ site.description }}</h2>

    {% if socialNetworks | length > 0%}
    <div class="social-links">
      {% for network in socialNetworks %}
        {% if site.author().networks[network.name] is defined %}
          <a rel="noreferrer" class="link" href="{{ network.url }}{{ site.author().networks[network.name] }}">
          {{ network.name | capitalize }}
          {# {% fa_svg fab.fa-facebook %} #}
          </a>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

  </header>
{% endif %}