{% extends 'layouts/base.njk' -%}
{% block extraMeta -%}
  <meta property="og:type" content="article"/>
  <meta property="article:published_time" content="{{ date | date('') }}"/>
  {% if tags | length > 0 -%}
    <meta property="article:tag" content="{{ tags | join(' ') }}"/>
  {% endif -%}
{% endblock -%}
{% block content -%}
  <main id="main-content" tabindex="-1">
    <article>
      <div>
        <h1>{{ title }}</h1>
        <p>
          {% if date -%}
            <time datetime="{{ date | w3DateFilter }}">{{ date | date }}</time>
          {% endif -%}
          {% set readingTime = helpers.getReadingTime(content) -%}
          <span>— Temps de lecture: {{ readingTime }} minute{% if readingTime > 1 %}s{% endif %}
          </span>
        </p>
      </div>
      {{ component('toc', {}) }}
      <div>
        {{ content | safe }}
      </div>
      <hr/>
      {% if tags -%}
        <section>
          <h2>Tags</h2>
          <ul>
            {% for item in tags -%}
              <li>
                {{ item }}
              </li>
            {% endfor -%}
          </ul>
        </section>
      {% endif -%}
    </article>
    {{ component('pagination', {
      previousUrl: (collections.posts | getNextCollectionItem(page)).url,
      nextUrl: (collections.posts | getPreviousCollectionItem(page)).url
    }) }}
  </main>
{% endblock -%}
