<section class="author center">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                {% if page.author_img %}
                <div class="card-image">
                    {% assign author_src = site.authors[page.author].picture %}
                    {% asset "{{ author_src }}" alt='{{ site.authors[page.author].name }}' class='circle responsive-img' %}
                </div>
                {% endif %}
                <div class="card-content">
                    <span class="card-title">
                        {{ site.authors[page.author].name }}
                    </span>
                    <p>
                        {{ site.authors[page.author].bio }}
                    </p>
                </div>
                <div class="card-action">
                    <a class="blue-text"
                        href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }} - {{ page.title }} by @{{ site.authors[page.author].twitter }}">
                        <span>
                            Tweet
                        </span>
                        {% fa_svg fab.fa-twitter %}
                    </a>
                    <a class="green-text" href="mailto:{{ site.authors[page.author].email | encode_email }}">
                        {% fa_svg fas.fa-envelope %}
                        <span class="icon-mail">
                            Mail
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>