<footer class="page-footer white">
    <div class="container">
        <div class="row black-text">
            <div class="col l1 s1 m1">
                <a href="{{ site.url }}/feed.xml">
                    {% fa_svg fas.fa-rss %}
                </a>
            </div>
            <div class="col l2 m2 s4">
                <a class="link" href="https://github.com/sylvainmetayer/sylvainmetayer">Sources</a> <br />
            </div>
            <div class="col l6 m6 s12">
                {{ site.name }} © {{ site.time | date: '%Y' }} (Dernière mise à jour le {% include translated_date.html date=site.time format="%d %B %Y" %})
            </div>
        </div>
    </div>
    </div>
</footer>