<footer class="page-footer white">
    <div class="container">
        <div class="row black-text">
            <div class="col l4 m4 s6">
                <a class="link" href="https://github.com/sylvainmetayer/sylvainmetayer">Sources</a> <br />
            </div>
            <div class="col l8 s4 m6">
                Thème - version modifiée de <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo
                    theme</a>
                - Dernière mise à jour le {% include translated_date.html date=site.time format="%d %B %Y" %}
            </div>
            <div class="col l12 m12 s12">
                {{ site.name }} © {{ site.time | date: '%Y' }}
            </div>
            <div class="col l12 s12 m12">
                <a href="{{ site.url }}/feed.xml">
                    {% fa_svg fas.fa-rss %}
                </a>
            </div>
        </div>
    </div>
    </div>
</footer>