<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        
        <a id="logo-container" href="{{ site.url }}/" class="brand-logo">Sylvain METAYER</a>
        <ul class="right hide-on-med-and-down">
            {% if page.title != "Formations" %}
            <li>
                <a href="{{ site.url }}/formations">Formations</a>
            </li>
            {% endif %}

            {% if page.title != "Blog" %}
            <li>
                <a href="{{ site.url }}/blog">Blog</a>
            </li>
            {% endif %}

            {% if page.title != "Projets" %}
            <li>
                <a href="{{ site.url }}/projets">Projets</a>
            </li>
            {% endif %}

            {% if site.resume == true %}
            <li>
                <a href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">CV</a>
            </li>
            {% endif %}
        </ul>

        <ul id="nav-mobile" class="sidenav">
            {% if page.title != "Accueil" %}
            <li>
                <a href="{{ site.url }}/">Accueil</a>
            </li>
            {% endif %}

            {% if page.title != "Formations" %}
            <li>
                <a href="{{ site.url }}/formations">Formations</a>
            </li>
            {% endif %}

            {% if page.title != "Blog" %}
            <li>
                <a href="{{ site.url }}/blog">Blog</a>
            </li>
            {% endif %}

            {% if page.title != "Projets" %}
            <li>
                <a href="{{ site.url }}/projets">Projets</a>
            </li>
            {% endif %}

            {% if site.resume == true %}
            <li>
                <a href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">CV</a>
            </li>
            {% endif %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>