{% if params.description -%}
  <article>
    <h2>{{ params.title }}</h2>
    {{ params.description | safe }}
  </article>
{% endif -%}
<!--<theme-toggle></theme-toggle>-->
<p>
  Dernière construction du site le {{ date | date('LLL') }}
</p>
