<footer class="site-footer">
  <small>
    Dernière construction du site le {{ global.now | date('LLL') }}. Thème utilisé :
    <a href="https://github.com/TylerMRoderick/fernfolio-11ty-template">fernfolio-11ty-template</a>.
  </small>
</footer>
<script
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "b127465eed91464f811fad719b0c0cb7"}'></script>
