<form class="contact-form" name="contact" method="post" data-netlify="true">
  <label for="name">Prénom</label>
  <input
    type="text"
    name="firstname"
    id="firstname"
    autocomplete="firstname"
    placeholder="John"
    title="Votre prénom"
    required="">
  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    id="email"
    autocomplete="email"
    placeholder="prenom@nom.com"
    title="Votre email"
    required="">
  <label for="message">Message</label>
  <textarea name="message" id="message" placeholder="Votre message" rows="7" required=""></textarea>
  <button class="contact-form__submit btn" type="submit" name="submit">Envoyer</button>
</form>
