{#
title
page
metaTitle
metaDesc
site
socialImage
helpers

#}
{% set pageMetaTitle = params.title -%}
{% set currentUrl = params.helpers.url() + params.page.url -%}
{#- TODO Fix metaTitle -#}
{% if metaTitle -%}
  {% set pageMetaTitle = metaTitle -%}
{% endif -%}
<meta name="google-site-verification" content="XROrcW2Xt6g7cyF4SDNyz08GZeMB90QlstI3SBnUsq0"/>
<title>{{ params.title + ' - ' + params.site.name }}</title>
<meta name="og:locale" content="fr_FR"/>
<link rel="canonical" href="{{ currentUrl }}"/>
<meta name="author" content="{{ params.site.authorName }}"/>
<meta property="og:site_name" content="{{ params.site.name }}"/>
<meta property="og:title" content="{{ pageMetaTitle }}"/>
<meta property="og:url" content="{{ currentUrl }}"/>
{% if params.site.authorHandle -%}
  <meta name="twitter:creator" content="@{{ params.site.authorHandle | replace('@', '') }}"/>
  <meta name="twitter:site" content="@{{ params.site.authorHandle | replace('@', '') }}"/>
{% endif -%}
{% if params.metaDesc -%}
  <meta name="description" content="{{ params.metaDesc }}"/>
  <meta name="twitter:description" content="{{ params.metaDesc }}"/>
  <meta property="og:description" content="{{ params.metaDesc }}"/>
{% endif -%}
{% if socialImage -%}
  <meta property="og:image" content="{{ helpers.url() }}{{ params.socialImage }}"/>
  <meta name="twitter:image" content="{{ helpers.url() }}{{ params.socialImage }}"/>
  <meta property="og:image:alt" content="Illustration pour '{{ pageMetaTitle }}'"/>
  <meta name="twitter:image:alt" content="Illustration pour '{{ pageMetaTitle }}'"/>
{% endif -%}
{% if params.site.paymentPointer -%}
  <meta name="monetization" content="{{ params.site.paymentPointer }}"/>
{% endif -%}
{% for me in params.relations.me -%}
  <link rel="me" href="{{ me }}"/>
{% endfor -%}
<meta name="color-scheme" content="dark light"/>
<link type="text/plain" rel="author" href="{{ params.helpers.url() }}/humans.txt"/>
<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png"/>
<link rel="manifest" href="/manifest.json"/>
<link rel="webmention" href="https://webmention.io/{{ params.helpers.url() }}/webmention"/>
<link rel="pingback" href="https://webmention.io/{{ params.helpers.url() }}/xmlrpc"/>
