---
layout: page
title: Formations
---

<h1>Formations, expérience professionnelle et certifications.</h1>

{% if site.formations.size > 0 %}
<h2>Formations</h2>
<section class="list">
    {% for formation in site.formations %}
            <div class="item">
                <h3 class="title">{{ formation.name }}</h3>
                <img class="formation-image" 
                src="{{ formation.logo }}" alt="{{ formation.alt }}">
                <p>
                    {% if formation.more %} {{ formation.more }}, {% endif %}
                    {% if formation.date_start %} {{ formation.date_start }} - {% endif %}
                    {{ formation.date_end }}
                    <br>
                    {% if formation.url %}
                        <a class="url" href="{{ formation.url }}">  
                    {% endif %}
                        {{ formation.location }}
                    {% if formation.url %}
                        </a>
                    {% endif %}
                </p>
            </div>
    {% endfor %}
</section>
{% endif %}

{% if site.enterprises.size > 0 %}
<h2>Expérience professionnelle</h2>
<section class="list">
    {% for company in site.enterprises %}
            <div class="item">
                <h3 class="title">
                    {% if company.url %}
                        <a class="url" href="{{ company.url }}">  
                    {% endif %}
                    {{ company.name }}
                    {% if company.url %}
                        </a>
                    {% endif %}
                </h3>
                <img 
                {% if company.width %} width="{{company.width}}" {% endif %}
                {% if company.height %} width="{{company.height}}" {% endif %}
                class="enterprise-image" src="{{ company.logo }}" alt="{{ company.alt }}">
                <p>
                    {% if company.more %} {{ company.more }} {% endif %} 
                    <br/>
                    {% if company.date_start %} {{ company.date_start }} - {% endif %}
                    {{ company.date_end }}
                    <br/>
                    {{ company.location }}
                </p>
            </div>
    {% endfor %}
</section>
{% endif %}

<h1>TEST</h1>
<ul>
{% for test in site.tests %}
    <li>{{ test.name }}</li>
{% endfor %}
</ul>