<div class="[ dev_version ] [ pad-top-900 pad-bottom-max ]">
    <div class=" [ inner-wrapper ] [ sf-flow ]">
        <p class="[ text-500 md:text-600 ] [ p-name ]">⚠ Vous êtes actuellement en train de consulter la version de développement de ce site.</p>
        <div class="[ intro__summary ] [ sf-flow ]">Cette version n'a pas vocation à être consultée. Consultez plutôt le <a href="{{site.url}}">site en production</a> :) </div>
    </div>
</div>
