<div >
  <div >
    <p >⚠ Vous êtes actuellement en train de consulter la version de développement de ce site.</p>
    <div >Cette version n'a pas vocation à être consultée. Consultez plutôt le
      <a href="{{site.url}}">site en production</a>
      :)
    </div>
  </div>
</div>
