{% set paginationLinkTokens = 'leading-tight text-500 weight-mid box-inline-flex align-center pad-bottom-300' %}

{% if paginationNextUrl or paginationPrevUrl %}
  <hr />
  <div >
    <footer >
      <nav >
        {% if paginationPrevUrl %}
          <a href="{{ paginationPrevUrl }}" >
            <span>{{ paginationPrevText if paginationPrevText else 'Précédent' }}</span>
            {% include "icons/arrow.svg" %}
          </a>
        {% endif %}
        {% if paginationNextUrl %}
          <a href="{{ paginationNextUrl }}" >
            <span>{{ paginationNextText if paginationNextText else 'Suivant' }}</span>
            {% include "icons/arrow.svg" %}
          </a>
        {% endif %}
      </nav>
    </footer>
  </div>
{% endif %}
