<div class="[ wip ] [ pad-top-900 pad-bottom-max ]">
  <div class=" [ inner-wrapper ] [ sf-flow ]">
    <p class="[ text-500 md:text-600 ] [ p-name ]">🚧 Site en travaux, des pages peuvent être cassées.</p>
  </div>
</div>