<div class="[ wip ] [ pad-top-900 pad-bottom-max ]">
  <div class=" [ inner-wrapper ] [ sf-flow ]">
    <p class="[ text-500 md:text-600 ] [ p-name ]">Site en construction 🚧</p>
    <div class="[ intro__summary ] [ sf-flow ]">Ce site est actuellement en construction et publié tel quel afin de l'améliorer au fil du temps. Les contenus ne seront pas supprimés mais sont eventuellement amenés à changer d'emplacement, auquel cas des redirections seront progressivement mise en place. Il est néanmoins possible que certaines pages retournent une erreur 404 durant quelques jours, le temps que les liens cassés soient détectés et corrigés :)</div>
  </div>
</div>