<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>

    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="{{ site.name }}">
      {# TODO SEO #}
      {% include "favicon.njk" %}
      {# <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" /> #}
    {% endblock %}

    {% block css %}
      <link rel="stylesheet" href="/css/main.css"/>
    {% endblock %}

  </head>
  <body>

    {% include "nav.njk" %}
    <div class="wrapper-normal">
      {{ content | safe }}
    </div>
  </body>
</html>