{% set pageTitle = title + ' - ' + site.name %}
{% set pageDesc = '' %}
{% set siteTitle = site.name %}
{% set currentUrl = helpers.url() + page.url %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}

<title>{{ pageTitle }}</title>
<meta name="og:locale" content="fr_FR"/>
<link rel="canonical" href="{{ currentUrl }}"/>
<meta name="author" content="{{ site.authorName }}" />
<meta property="og:site_name" content="{{ siteTitle }}"/>
<meta property="og:title" content="{{ pageTitle }}"/>
<meta property="og:url" content="{{ currentUrl }}"/>

{% if site.authorHandle %}
  <meta name="twitter:creator" content="@{{ site.authorHandle | replace('@', '') }}"/>
  <meta name="twitter:site" content="@{{ site.authorHandle | replace('@', '') }}"/>
{% endif %}

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}"/>
  <meta name="twitter:description" content="{{ metaDesc }}"/>
  <meta property="og:description" content="{{ metaDesc }}"/>
{% endif %}

{% if socialImage %}
  <meta property="og:image" content="{{ socialImage }}"/>
  <meta name="twitter:image" content="{{ socialImage }}"/>
  <meta property="og:image:alt" content="Illustration pour '{{ pageTitle }}'"/>
  <meta name="twitter:image:alt" content="Illustration pour '{{ pageTitle }}'"/>
{% endif %}

{% if site.paymentPointer %}
  <meta name="monetization" content="{{ site.paymentPointer }}"/>
{% endif %}

{% for me in relations.me %}
  <link rel="me" href="{{ me }}"/>
{% endfor %}

<meta name="color-scheme" content="dark light">

<link type="text/plain" rel="author" href="{{ helpers.url() }}/humans.txt"/>

<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">

<link rel="webmention" href="https://webmention.io/{{ helpers.url() }}/webmention" />
<link rel="pingback" href="https://webmention.io/{{ helpers.url() }}/xmlrpc" />