<a>Skip to content</a>
<header role="banner">
  <div>
    <div>
      <a href="/">
        <span>{{ site.name }} - Home</span>
        <span>{{ site.name }}</span>
      </a>
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
</header>
