<footer role="contentinfo" >
  <div >
    <div >
      {% if site.shortDesc %}
        <div>
          <article >
            <h2 >{{ site.name }}</h2>
            {{ site.shortDesc | safe }}
          </article>
        </div>
      {% endif %}
      <div>
        {% include "partials/components/nav.njk" %}
        <theme-toggle></theme-toggle>
      </div>
    </div>
    {% if site.showThemeCredit %}
      <p >
        Thème basé sur <a href="https://hylia.website" rel="external">Hylia Eleventy Starter Kit (v0.7)</a>.
      </p>
    {% endif %}
    <p >
    Dernière construction du site le {{ global.now | date('LLL') }}
    </p>
  </div>
</footer>
