<nav class="{% if page.title == "Accueil" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Accueil" %}
            <li class="item">
                <a class="link" href="/">Accueil</a>
            </li>
        {% endif %}

        {% if page.title != "Formations" %}
            <li class="item">
                <a class="link" href="/formations">Formations</a>
            </li>    
        {% endif %}
        
        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projets" %}
                <li class="item">
                    <a class="link" href="/projets">Projets</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "a-propos" %}
                <li class="item">
                    <a class="link" href="/a-propos">A propos</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}/{{ site.resume-url }}{% endif %}">CV</a>
            </li>
        {% endif %}
    </ul>
</nav>
