{%- from "component.njk" import component -%}
<!DOCTYPE html>
<html lang="{% if locale %}{{ locale }}{% else %}{{ site.locale }}{% endif %}">
  <head data-env="{{ global.environment }}">
    {{ component('meta', {
        title: title,
        page: page,
        metaTitle: metaTitle,
        metaDesc: metaDesc,
        site: site,
        socialImage: socialImage,
        relations: relations,
        helpers:helpers
      }) }}
    {% block extraMeta -%} <meta property="og:type" content="website"/>
  {%- endblock %}
  {% block head -%}
{%- endblock -%}</head><body>
<header>
  {{ component('header', {
    title: site.name,
    items: navigation.items
  }) }}
</header>
{% if site.showWipSection -%}
  <section>
    <h2>🚧 Site en travaux</h2>
    <p>Des pages peuvent être cassées</p>
  </section>
{% endif -%}
{% if site.showDevSection and global.environment != 'production' -%}
  {{ component('dev-warning', {url: site.url}) }}
{% endif -%}
{% block content %}{% endblock content %}
<footer>
  {{ component('footer', {
    description: site.shortDesc,
    title: site.name,
    date: global.now
  }) }}
  {% block foot %}
{% endblock -%}</footer><noscript>Votre navigateur ne supporte pas Javascript. Vous ne pouvez pas changer le thème du site</noscript><script
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "b127465eed91464f811fad719b0c0cb7"}'></script></body></html>
