{#- Atom feed: French articles (/feed.xml), English translations (/en/feed.xml) -#}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ lang }}">
  <generator uri="https://11ty.dev/" version="{{ global.eleventyVersion }}">Eleventy</generator>
  <title>{{ site.name }}</title>
  <subtitle>{{ site.shortDesc }}</subtitle>
  <link href="{{ helpers.url() }}{{ permalink }}" rel="self"/>
  <link href="{{ helpers.url() }}{{ langPrefix }}/"/>
  {%- set feedPosts = collections.postsEn if lang == 'en' else collections.posts %}
  {% if feedPosts | length %}
    <updated>{{ feedPosts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  {% endif %}
  {# Ids are permanent: they keep the apex used before the move to www, or readers would see every entry as new. #}
  <id>{{ site.feedIdBase }}{{ (langPrefix + '/') if langPrefix else '' }}</id>
  <author>
    <name>{{ site.authorName }}</name>
    <email>{{ site.authorEmail }}</email>
  </author>
  {% for post in feedPosts %}
    {% set absolutePostUrl %}{{ helpers.url() }}{{ post.url | url }}{% endset %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ site.feedIdBase }}{{ post.url }}</id>
      <content type="html">
        <![CDATA[
      {{ post.templateContent | safe }}
    ]]>
      </content>
      {% for tag in post.data.tags %}
        <category term="{{ tag }}"/>
      {% endfor %}
      {% if post.data.excerpt %}
        <summary type="html">
          {{ post.data.excerpt}}
        </summary>
      {% endif %}
    </entry>
  {% endfor %}
</feed>