{% extends 'layouts/base.njk' -%}
{% block content -%}
  <main id="main-content" tabindex="-1">
    <div>
      <h1>{{ title }}</h1>
      {% if content %}
        <div>{{ content | safe }}</div>
      {% endif %}
    </div>
    {{ component('postList', {title: 'Derniers articles', posts: collections.posts.slice(0, 2)}) }}
  </main>
{% endblock %}
