{% extends 'layouts/base.njk' %}

{% block content %}
  <article class="section" aria-labelledby="page-title">
    <header class="post-head">
      <p class="cmd">~{{ page.url }}</p>
      <h1 id="page-title" class="page-title">{{ title }}</h1>
    </header>
  </article>
  <div class="prose">
    {{ content | safe }}
  </div>
{% endblock %}
