---
title: Articles
pagination:
  data: collections.posts
  size: 10
  alias: postListItems
permalink: "/articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/index.html{% endif %}"
---

{% extends 'layouts/base.njk' %}

{% block content %}
  <main id="main-content" tabindex="-1">
        <div>
      <h1>{{ title }}</h1>
      {% if content %}
        <div>{{ content | safe }}</div>
      {% endif %}
    </div>
    {{ component('postList', {title: 'Articles', posts: postListItems}) }}
    {{ component('pagination', {
      previousUrl: pagination.previousPageHref,
      nextUrl: pagination.nextPageHref
    }) }}
  </main>
{% endblock %}
