{% extends 'layouts/base.njk' %}

{% block extraMeta %}
  <meta property="og:type" content="article"/>
  <meta property="article:published_time" content="{{ date | date('') }}"/>
  {% if tags | length > 0%}
    <meta property="article:tag" content="{{ tags | join(' ') }}"/>
  {% endif %}
  {% if socialImage | length <= 0 %}
    <meta property="og:image" content="{{helpers.url() }}{{ page.fileSlug | getImagePreview }}"/>
    <meta name="twitter:image" content="{{helpers.url() }}{{ page.fileSlug | getImagePreview }}"/>
    <meta property="og:image:alt" content="Illustration pour '{{ title }}'"/>
    <meta name="twitter:image:alt" content="Illustration pour '{{ title }}'"/>
  {% endif %}
{% endblock %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
<p class="[ intro__meta ] [ text-500 leading-tight ]">
  {% if date %}
    <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | date }}</time>
  {% endif %}
  {% set readingTime = helpers.getReadingTime(content) %}
  <span>— Temps de lecture: {{ readingTime }} minute{% if readingTime > 1 %}s{% endif %}
  </span>
</p>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      {% set tocContent = content | toc %}
      {% if tocContent != '<nav class="toc"></nav>' and not noToc %}
        <aside class="[ post__toc ] [ inner-wrapper ] [ pad-bottom-200 pad-top-900 text-600 ]">
          <p>Sommaire</p>
          {{ tocContent | safe }}
        </aside>
      {% endif %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 {{ 'pad-bottom-900' if not site.enableThirdPartyComments }} text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
      </div>
      {% if site.enableThirdPartyComments %}
        <hr/>
        <aside class="[ post__body ] [ inner-wrapper ] [ pad-bottom-900 text-500 ]">
          {% include "partials/global/third-party-comments.njk" %}
        </aside>
      {% endif %}
      <hr/>
      {% if tags %}
        <footer class="[ post__footer ] [ pad-top-500 pad-bottom-500 ]">
          <div class="inner-wrapper">
            <div class="[ nav ] [ box-flex align-center ]">
              <h2 class="font-base text-600 weight-mid">Tags</h2>
              <ul class="[ nav__list ] [ box-flex align-center pad-left-400 ] [ p-category ]">
                {% for item in tags %}
                  <li class="nav__item">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </footer>
      {% endif %}
    </article>
    {% set nextPost = collections.posts | getPreviousCollectionItem(page) %}
    {% set previousPost = collections.posts | getNextCollectionItem(page) %}
    {% if previousPost %}
      {% set paginationPrevUrl = previousPost.url %}
    {% endif %}

    {% if nextPost %}
      {% set paginationNextUrl = nextPost.url %}
    {% endif %}

    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}