---
layout: page.njk
title: Accueil
showHeader: true
---

<section class="list">
  {% if collections.posts.length == 0 %}
    <p class="text-center">Nothing published yet!</p>
  {% else %}
    {% for post in collections.posts %}
      <div class="item {% if post.star %}star{% endif %}">
        <a class="url" href="{{ site.url }}{{ post.url }}">
          <aside class="date">
            <time datetime="{{ post.date | date('d/m/y h:m:s') }}">
              {{ post.date | date('LL') }}
            </time>
          </aside>
          <h3 class="title">
            {{ post.data.title }}
            {% if post.data.school %}({{post.data.school}}){% endif %}
          </h3>
        </a>
      </div>
    {% endfor %}
  {% endif %}
</section>