<a href="/">
  <span>{{ params.title }}</span>
</a>
{% if params.items -%}
  <nav>
    <ul>
      {% for item in params.items -%}
        <li>
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% endfor -%}
    </ul>
  </nav>
{% endif -%}
