{% if params.nextUrl or params.previousUrl -%}
  <hr/>
  <div>
    <footer>
      <nav>
        {% if params.previousUrl -%}
          <a href="{{ params.previousUrl }}">
            <span>Précédent</span>
            {% include "icons/arrow.svg" -%}
          </a>
        {% endif -%}
        {% if params.nextUrl -%}
          <a href="{{ params.nextUrl }}">
            <span>Suivant</span>
            {% include "icons/arrow.svg" -%}
          </a>
        {% endif -%}
      </nav>
    </footer>
  </div>
{% endif %}
