@use "../../../../node_modules/normalize.css/normalize.css";
@use "../css/variables.css";

@use "../css/utilites.css";
@use "../css/site-header.css";
@use "../css/site-footer.css";
@use "../css/blog.css";
@use "../css/projects.css";
@use "../css/custom.css";
@use "../css/home-page.css";
@use "../css/contact.css";

$color-blossom: var(--color-primary);
$color-fade: var(--color-secondary);

$color-bg: var(--color-bg);
$color-bg-alt: var(--color-bg-secondary);

$color-text: var(--color-text);
$font-size-base: 1.8rem;

$font-family-base: var(--font-family-base);
$font-family-heading: var(--font-family-heading);

@import "../../../../node_modules/sakura.css/scss/main";

body {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

a:hover {
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}
