---
title: 'Expériences professionnelles'
permalink: '/experiences/'
layout: 'layouts/page.njk'
---

<p>Vous trouverez ci-dessous la liste de mes expériences professionnelles.</p>

{% for work in collections.work %}
    <h2>{{ work.data.title }}
        ({% if loop.first %}depuis le {{ work.data.start | date }}{% else %}du {{ work.data.start | date }} au {{ work.data.end | date }}{% endif %})
    </h2>

    {{ work.templateContent | safe }}
{% endfor %}
