---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
# TODO Style RSS
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <generator uri="https://11ty.dev/" version="{{ global.eleventyVersion }}">Eleventy</generator>
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ helpers.url() }}"/>
  <link href="{{ helpers.url() }}{{ page.url }}" rel="self"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ helpers.url() }}</id>
  <author>
    <name>Sylvain METAYER</name>
    <email>bonjour@sylvain.dev</email>
  </author>
  {%- for post in collections.rss | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(helpers.url()) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
