---
permalink: humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
	Sylvain MÉTAYER
	Twitter: @sylvain_metayer
	From:Bordeaux, France

/* SITE */
	Last update: {{ global.now | date('Y-MM-DD HH:mm:ss') }}
	Language: French
	Doctype:HTML5
	IDE: vscode
	Generator: Eleventy, https://www.11ty.dev/
	Hosting: Cloudflare Pages