---
permalink: humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
	Sylvain METAYER
	Twitter: @sylvain_metayer
	From:Bordeaux, France

/* SITE */
	Last update: {{ global.now | date('Y-MM-DD HH:mm:ss') }}
	Language: French
	Doctype:HTML5
	IDE: vscode

  use https://www.11ty.dev/ to render a plain HTML static site.
  Theme based on https://hylia.website/