---
title: 'Parrainage'
permalink: '/parrainage/'
layout: 'layouts/page.njk'
metaDesc: "Parrainages proposés par Sylvain METAYER"
---

<p>Ci-dessous se trouve une liste de sites ou services sur lesquels je suis inscrit et pour lesquels il vous est possible, si vous le souhaitez, de vous inscrire en passant par un lien de parrainage afin de bénéficier d'avantages lors de votre inscription.</p>

{% for refer in refers.refers %}

    <h2>
        <a href="{{ refer.link }}">{{ refer.name }}</a>
    </h2>
    <p>
        {{ refer.description }}
    </p>

    <blockquote>
        {{ refer.advantage }}
    </blockquote>

{% endfor %}
