---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for item in collections.all %}
    {# A page with a `canonical` front matter points to its original elsewhere (dev.to, LinkedIn…): keep it out of the sitemap #}
    {% if item.url and item.url != '/404.html' and not item.url.startsWith('/admin') and not item.data.canonical %}
      {% set absoluteUrl %}{{ helpers.url() }}{{ item.url }}{% endset %}
      <url>
        <loc>{{ absoluteUrl }}</loc>
        <lastmod>{{ item.date | dateToRfc3339 }}</lastmod>
        <changefreq>{{ item.data.changefreq or "monthly" }}</changefreq>
        <priority>{{ item.data.priority or "0.5" }}</priority>
      </url>
    {% endif %}
  {%- endfor %}
</urlset>