---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
eleventyComputed:
  title: "Tag {{ tag }}"
  metaDescription: "Tous les articles ayant pour tag {{ tag }}"
---
<div class="page-container">
  <div class="tag-list tag-list--no-wrap">
    <h3 class="tag-list__title">Articles avec le tag : "{{ tag | capitalize }}"</h3>
    <a class="btn btn--danger" href="/blog">Supprimer le tag</a>
  </div>

  {% set postslist = collections[tag] %}
  {% set show_postslist_tags = true %}
  {% include "components/postslist.njk" %}

  <nav>
    <a href="{{ '/blog/' | url }}">← Voir tous les articles</a>
  </nav>
</div>
